

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.header {
    position: fixed;
        top: 0;
        left: 0;
        
        
}

.section1 {
display: flex;
}

.nav-menu {
    background-image: url("../images/weed.jpg");
    background-size: 150px;
    background-blend-mode: overlay;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(96, 236, 152, 0.5);
    padding-right: 20px;
}

.dropdown button,
.favorite button,
.shoping button,
.search button,
.acount button,
.phone button,
.email button,
.logo button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    flex-direction: column;
}

.dropdown svg {
    height: 24px;
    width: 44px;
}

.dropdown {
    position: relative;
}


.dropdown-content.show {
    display: block;
    
}

.menu-button {
    transition: transform 1s ease;
    /* Adăugăm o tranziție pentru rotație */
}

.rotate {
    transform: rotate(360deg);
    /* Rotim butonul cu 360 de grade */
}

.dropdown-for-row {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
    transition: max-height 1s ease;
    left: -74px;
    width: 150px;
    top: calc(100% + 10px);
}

.show {
    display: block;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.row {
    cursor: pointer;
}

.dropdown-for-row {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.dropdown-for-row.show {
    display: block;
}



.favorite svg,
.shoping svg,
.search svg,
.acount svg,
.phone svg,
.email svg {
    height: 10px;
    width: 28px;
    
}
.favorite,
.shoping,
.search,
.acount,
.phone,
.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.favorite h4,
.shoping h4,
.search h4,
.acount h4,
.phone h4,
.email h4 {
     font-size: 10px;
}

 .logo {
    display: flex;
    align-items: center;
    background-color: rgba(96, 236, 152, 0.5);
    background-image: url("../images/weed.jpg");
    background-size: 150px;
    background-blend-mode: overlay;
    
 }

 

 .section2 {
    background-color: rgba(241, 240, 241, 0.5);
    margin-top: 45px;
    width: 100%;
    height: 1000px; /* dupa ce se baga elemente in sectiune se aplica height:100%*/
 }

 .footer {
     display: flex;
     flex-direction: row-reverse;
 }

 .section3 {
    background-color:rgba(96, 236, 152, 0.5);
    background-image: url("../images/weed.jpg");
    background-size: 150px;
    background-blend-mode: overlay;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
 }

 
